/* Reset */
/* --------------------------------------------------- */
html {
  margin: 0;
  padding: 0;
  border: 0; }

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  background: white; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table, th, td {
  vertical-align: middle; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ''; }

blockquote, q {
  quotes: "" ""; }

a img {
  border: none; }

ul {
  list-style: none; }

:focus {
  outline: 0; }

hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 17px;
  border: none; }

/* Core */
/* --------------------------------------------------- */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  color: #404040;
  background: #f2f2f2;
  line-height: 1; }

.container {
  margin: 0 auto;
  padding: 0 1.8rem;
  max-width: 580px;
  height: 100%; }

a {
  color: #4d4d4d; }
  a:hover {
    color: black; }

.hidden {
  position: absolute;
  left: -9999em; }

header {
  margin: 2rem 0 0;
  text-align: center; }
  header h1 {
    font-size: 3.6rem;
    font-weight: 600;
    letter-spacing: -0.1rem; }
  header p {
    font-size: 1.8rem;
    margin: 0.7rem 0 0;
    color: gray;
    font-weight: 300; }
  header:after {
    content: "";
    display: block;
    height: 24rem;
    background: url(../images/grant.jpg) no-repeat center 10%;
    background-size: 120%;
    margin: 2rem -1.8rem 0; }

section {
  background: white;
  padding: 2rem 2.4rem;
  margin: 0 0 2.4rem;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.4em;
  border-radius: 2px;
  border-bottom: 2px solid #dbdbdb;
  border-right: 2px solid #dbdbdb; }
  section h2 {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 2rem; }
  section p {
    margin: 0 0 0.9rem; }
  section ul.block a {
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    display: block;
    line-height: 1.2em;
    padding: 0.9rem 2.4rem;
    margin: 0 -2.4rem; }
    section ul.block a:hover {
      background: #e6e6e6; }

.letter {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: -4rem;
  margin-bottom: 2.4rem; }
  .letter h1, .letter p {
    margin: 0 0 1em;
    line-height: 1.4em; }
  .letter .name {
    font-size: 2rem;
    font-style: italic; }

.social {
  font-size: 1.6rem;
  text-align: center; }
  .social li {
    display: inline;
    margin: 0 0.5em; }

section :last-child {
  margin-bottom: 0; }

@media screen and (min-width: 420px) {
  .container {
    padding: 0 2.4rem; }

  header:after {
    height: 30rem;
    margin-left: -2.4rem;
    margin-right: -2.4rem; } }
@media screen and (min-width: 580px) {
  header:after {
    height: 34rem; } }
@media screen and (min-width: 900px) {
  .container {
    margin: 0 0 0 35%;
    padding: 0 5rem;
    height: 1800px;
    /*temp*/ }

  header {
    text-align: left;
    margin: 3rem 0;
    overflow: hidden; }
    header h1 {
      float: left; }
    header p {
      float: right;
      margin: 1.2rem 0 0; }
    header:after {
      background-position: center top;
      background-size: cover;
      margin: 0;
      height: 100%;
      width: 35%;
      position: fixed;
      left: 0;
      top: 0; }

  .letter {
    margin-top: 0; } }
