/* Core */
/* --------------------------------------------------- */

$vdist: 2rem;
$hdist: $vdist * 1.2;
$dashed: 1px dashed hsl(0, 0%, 80%);

@mixin group {
	content: "";
	display: table;
	clear: both;
}

@mixin pad {
	padding: $vdist $hdist;
}

@mixin flush {
	margin: (-$vdist) (-$hdist);
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html { 
	font-size: 62.5%;
	height: 100%; 
}

body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	color: hsl(0, 0%, 25%);
	background: hsl(0, 0%, 89%);
	line-height: 1;
}

a {
	color: hsl(0, 0%, 30%);

	&:hover {
		color: hsl(0%, 0%, 0%);
	}
}

.hidden {
	position: absolute;
	left: -9999em;
}

.site {
	margin: 0 auto;
	padding: 0 1.8rem;
	max-width: 680px;
	height: 100%
}

.site-header	{ 
	margin: 2rem 0 0; 
	text-align: center; 

	h1 { 
		font-size: 3.6rem;
		font-weight: 600;
		letter-spacing: -0.1rem;
	}

	p {
		font-size: 1.8rem;
		margin: 0.7rem 0 0;
		color: hsl(0, 0%, 50%);
		font-weight: 300;
	}

	&:after {
		content: "";
		display: block;
		height: 24rem;
		background: url(../images/grant.jpg) no-repeat center 10%;
		background-size: 120%;
		margin: 2rem -1.8rem 0;
	}
}

section {
	background: hsl(0, 0%, 98%);
	margin: 0 0 $hdist * 1.25;
	font-size: 1.7rem;
	font-weight: 300;
	line-height: 1.4em;

	& :last-child {
		margin-bottom: 0;
	}

	h2 {
		font-weight: 300;
		font-size: 2rem;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 0 0 $vdist;
	}

	p {
		margin: 0 0 0.9rem;
	}

	header {
		@include pad;
		border-top: 3px solid hsl(0, 0%, 75%);
		border-bottom: $dashed;
		background: hsl(0, 100%, 100%);
		position: relative;
		overflow: hidden;

		h2	{
			margin: 0 0 $vdist/1.5;

			span {
				position: relative;
				top: 0.2rem;
				color: hsl(0, 0%, 80%);
				float: right;
				font-size: 24px;
			}
		}

		p {
			font-size: 1.6rem;
			line-height: 1.4em;
		}

		a {
			color: inherit;
		}

	}

	ul.block {
		padding: $vdist * .75 0;
		
		a {
			font-weight: 600;
			font-size: 1.6rem;
			text-decoration: none;
			display: block;
			line-height: 1.2em;
			padding: 0.9rem $hdist;

			&:hover {
				background: hsl(0, 0%, 90%);
			}
		}
	}

	ul.thumbs {

		&:after {
			@include group;
		}

		li {
			float: left;
			width: 50%;
			text-indent: -9999em;
			height: 12rem;
		}

		a {
			display: block;
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center top;
			height: 100%;
			width: 100%;
			transition: all ease 0.15s;
			position: relative;

			&:hover {
				background-size: 110%;
				box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.7);
				z-index: 100;
				height: 110%;
				width: 110%;
				margin: -5% 0 0 -5%;
			}
		}
	}

	.video {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;

		iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

}

.letter {
	font-size: 1.8rem;
	margin-top: -4rem;
	@include pad;

	h1, p {
		margin: 0 0 1em;
		line-height: 1.4em;
	}

	.name {
		font-size: 2rem;
		font-style: italic;
	}
	
	.social {
		font-size: 2.4rem;
		text-align: center;
		border-top: $dashed;
		@include flush;
		margin-top: $hdist * 1.25;
		overflow: hidden;
		
		li {
			display: inline;
			font-weight: 400;
			float: left;
			width: 33.3333333%;
			border-right: $dashed;

			&:last-child {
				border: none;
			}
		}


		a {
			text-decoration: none;
			display: block;
			@include pad;
			color: hsl(0, 0%, 56%);

			&:hover {
				color: inherit;
			}
		}

		.label {
			position: absolute;
			left: -99999em;
		}

	}
}

.more {
	@include pad;
	text-align: center;
}


@media screen and (min-width: 420px) {
	.site {
		padding: 0 2.4rem;
	}

	.site-header:after {
		height: 30rem;
		margin-left: -2.4rem;
		margin-right: -2.4rem;
	}

	section ul.thumbs li {
		width: 33.333333333%;
	}
}

@media screen and (min-width: 580px) {
	.site-header:after {
		height: 34rem;
	}	
}
@media screen and (min-width: 900px) {

	$sidebar_width: 360px;

	.site {
		margin: 0 0 0 $sidebar_width;
		padding: 0 5rem;
	}

	.site-header {
		text-align: left;
		margin: 3rem 0;
		overflow: hidden; 

		h1 {
			float: left;
		}

		p {
			float: right;
			margin: 1.2rem 0 0;
			
		}

		&:after {
			background-position: 45% top;
			background-size: cover;
			margin: 0;
			height: 100%;
			width: $sidebar_width;
			position: fixed;
			left: 0;
			top: 0;
		}

	}

	section {
		margin: 0 0 $hdist * 1.5;
	}

	.letter {
		margin-top: 0;
	}

}

@media screen and (min-width: 1200px) {
	$sidebar_width: 420px;

	.site {
		margin-left: $sidebar_width;
	}

	.site-header:after {
		width: $sidebar_width;
	}

}

@media screen and (min-width: 1350px) {
	$sidebar_width: 460px;

	.site {
		margin-left: $sidebar_width;
	}

	.site-header:after {
		width: $sidebar_width;
	}



}
